{% extends 'hobbysite/base.html' %}
{% load static %}

{% block title %} Forum | {{ thread.category }} {% endblock %}

{% block content %}
    <section class="card m-3">
        <h1 class="card-header text-bg-primary"> Thread </h1>
        <div class="card-body">
            <h1 class="card-title"> {{ thread.title }} </h1>
            <aside class="card m-3 float-none float-lg-end">
                <div class="card-body w-100 r-3">
            {% if thread.image %}
                <img src="{{ thread.image.url }}" alt="" style="max-width: 500px; max-height: 500px; width: auto; height: auto;">
            {% endif %}
                </div>
            </aside>
            <small> Post Created on: {{ thread.created_on }} | Post Updated on: {{ thread.updated_on }} </small>
            <p> {{ thread.entry }} </p>
            {% if user.is_authenticated and profile and thread.author_id == profile.id %}
                <a href="{% url 'forum:update_thread' thread.pk %}" class="btn btn-primary">Update Thread</a>
            {% endif %}
        </div>
    </section>

    <section class="card m-3">
    <h1 class="card-header text-bg-primary"> Comments </h1>
    <div class="list-group mt-3">
        {% for comment in comments %}
        <div class="list-group-item">
            <li>
                <small> {{comment.author.name}} ({{comment.author.user.username}}) commented on on {{ comment.created_on }}: </small> 
                <p>{{ comment.entry }}</p>
            </li>
        </div>
        {% empty %}
            <li>There are no comments in this thread yet.</li>
        {% endfor %}
    </div>
        <br></br>
        {% if user.is_authenticated %}
            <h5>Add a Comment</h5>
            <form method="POST">
                {% csrf_token %}
                {{ comment.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}
    </section>

    <section class="card m-3">
        <h1 class="card-header text-bg-primary"> Read more from <strong>{{ thread.category.name }}</strong> </h1>
        <div class="card-body">
        <ul>
            <div class="list-group">
            {% for thread in related_threads %}
                <a class="list-group-item list-group-item-action" href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
            {% empty %}
                <li> There are no other threads in this Category yet. </li>
            {% endfor %}
            </div>
            <a href="{% url 'forum:get_forum_categories' %}" class="mt-3 btn btn-primary"> Back to thread list</a>
        </div>
    </section>

{% endblock %}
