{% extends 'hobbysite/base.html' %}
{% load static %}

{% block title %} Forum {% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}
    <section class="card m-3">
        <h1 class="card-header text-bg-primary"> My Threads </h1>
        <div class="card-body">
            <ul>
            {% for thread in user_threads %}
                <li><a href="{{ thread.get_absolute_url }}">{{ thread.title }} </a></li>
            {% empty %}
                <li>You have not created any threads.</li>
            {% endfor %}
            </ul>
        <a class="card-link btn btn-primary" href="{% url 'forum:create_thread' %}">Create Thread</a>
        </div>
    </section>
    {% endif %}

    <section class="card m-3">
        <h1 class="card-header text-bg-primary"> 
            {% if user.is_authenticated %}
                Other Threads
            {% else %}
                Threads
            {% endif %}
        </h1>

    <div class="row row-cols-1 row-cols-lg-3 p-3 g-3">
    {% for category in categories %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
            <h2 class="card-title"> {{ category.name }}</h2>
            <h4>{{ category.description }}</h4>
                <div class="list-group">
                    <ul>
                        {% for thread in category.threads %}
                            <li><a class="list-group-item list-group-item-action" href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></li>
                        {% empty %}
                            <li> There are no threads by other users in this Category yet. </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    </section>
{% endblock %}
