{% extends 'hobbysite/base.html' %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}
<h1> {{ article.title }} </h1>
<h3> {{ article.category }} </h3>
<h6> 
    Author: {{ article.author.name }} <br>
    Created on {{ article.created_on }} <br>
    Last updated {{ article.updated_on }}
</h6>
    <p> {{ article.entry|linebreaks }} </p>

{% if user.is_authenticated %}
    <h6> Post a comment under this article! </h6>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" name="comment"> Post </button>
    </form>
{% endif %} <br>

<h6> Comments </h6>
{% for comment in comments %}
    <li>
        {{ comment.author.name }}: {{ comment.entry }}
    </li>
{% endfor %} <br>
<small> <a href="{% url 'blog:blog_categories' %}"> Back to Blog Articles List </a> </small>
{% endblock %}
