{% extends 'hobbysite/base.html' %}
{% load static %}
{% block title %} {{article.title}}{% endblock %}
{% block content %}
    <h1> {{article.title}} </h1>
    <small> Created on: {{article.created_on}} Updated on: {{article.updated_on}}</small>
    <p> {{article.entry | linebreaks}} </p>
    {% if article.author == request.user.profile %}
    <a class="btn btn-primary" href="{% url 'wiki:article_update' article.id %}"> Edit </a>
    {% endif %}
    <h1> Comments </h1> 
    {% if article.comments.all %}
    <ul> 
    {% for comment in article.comments.all %}
        <li> 
	    <p> {{comment.author.name}} </p>
	    <p> {{comment.created_on}} </p>
	    <p> {{comment.entry}} </p>
	</li>
    {% endfor %}
    </ul>
    {% else %}
    <p> No comments. </p>
    {% endif %}

    <h1> Read more from <strong>{{article.category.name}}</strong> </h1>
    <ul>
    {% for other_article in more_in_category %}
    <li> <a href="{% url 'wiki:article_detail' other_article.id%}"> {{other_article.title}} </a>
    {% endfor %}
    </ul>
	    
{% endblock %}
