{% extends 'hobbysite/base.html' %}
{% load static %}

{% block title %}Details{% endblock %}
{% block appcss %} 
<style>
        div {
           margin-right: 20px;
           margin-left: 20px; 
        }
</style>
{% endblock %}

{% block content %}
    <h1>{{ commission.title }}</h1>
    <ul>
        <li><b>Status:</b> {{ commission.status }}</li>
        <li><b>Description:</b> {{ commission.description }}</li>
        <li><b>People Required:</b> {{ commission.people_required }}</li>
        <li><b>Created On:</b> {{ commission.created_on }}</li>
        <li><b>Last Updated:</b> {{ commission.updated_on }}</li>
    </ul>

    {% if is_owner %}
        <h3>Job Application</h3>
        <ul>
            {% for application in applications %}
                <li>
                    {{ application.applicant.name }} applied for {{ application.job.role }} (Status: {{ application.status }})

                    {% if application.status == "Pending" %}
                        <form method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="application_id" value="{{ application.id }}">
                        <button type="submit" name="action" value="accept">Accept</button>
                        <button type="submit" name="action" value="reject">Reject</button>
                        </form>
                    {% endif %}
                </li>
            {% empty %}
                <p>No applications yet.</p>
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.is_authenticated and not is_owner %}
        <h3>Apply for a job</h3>
        <ul>
            {% for job, open_slots, can_apply in manpower_info %}
            <li>
                {{ job.role }} ({{ job.status }}) - Slots open: {{ open_slots }}/{{ job.manpower_required }}

                {% if can_apply %}
                    <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="job_id" value="{{ job.id }}">
                    <button type="submit">Apply to Job</button>
                    </form>
                {% else %}
                    <em>Cannot apply (full or already applied)</em>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    <footer>
        <a href = "{% url 'commissions:commissions_list' %}" class="button">Return to Commissions List</a>

        <style>
            .button {
                display: inline-block;
                padding: 5px 10px;
                background-color: blue;
                color: white;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
            }

            .button:hover {
                background-color: lightblue;
                color: dimgrey;
            }
        </style>
    </footer>
{% endblock %}
